# Environment Variables
.env
.env.*

# Node/Frontend
node_modules/
dist/
npm-debug.log
yarn-error.log

# Python/Backend
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# IDEs and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db